h3 {
    background-image: url('../img/fondo_head.jpg');
    text-align: right;
    text-shadow: 0 0 5px #800000, 0 0 5px #83FF33;
    color: white;
}

#sesion {
    text-align: left;
    font-size: 10px;
}

body {
    background-color: #D8F5CD;
}